<!DOCTYPE html>
<html lang="en">
  <head data-th-fragment="head(links)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="/image/logobook.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/utility.css" />
    <link data-th-replace="${links}" />
  </head>
  <body>
    <header data-th-fragment="header" class="flex-align-center-1">
      <img src="/image/logobook.png" alt="..." height="80" width="80" />
      <h1>Pustak mahal</h1>
    </header>
  </body>
</html>
